.login-form {
  background-color: #f1f1f1;
  width: 40%;
  text-align: center;
  padding: 10px;
}

.form-canvas {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-textfield {
  width:90%;
}

.login-form .login-button{
  margin:10px 0;
}